In [5]:
!pip3 install --upgrade --user numexpr bottleneck pandas openpyxl

Requirement already satisfied: numexpr in c:\anaconda\lib\site-packages (2.10.1)
Requirement already satisfied: bottleneck in c:\users\карина\appdata\roaming\python\python39\site-packages (1.4.0)
Requirement already satisfied: pandas in c:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\anaconda\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.0 in c:\anaconda\lib\site-packages (from numexpr) (1.24.4)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\anaconda\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [12]:
import pandas as pd

df = pd.read_csv('curricula_backup.tsv', sep='\t')
df

,author,title,comment,curriculum,id,year,grade,priority
0,Андреев Л.Н.,Жили-были,NaN,19 ИРЛ 2 ст,1,1919,9,NaN
1,Андреев Л.Н.,Иуда,NaN,19 ИРЛ 2 ст,1,1919,9,NaN
2,Андреев Л.Н.,Рассказ о семи повешенных,NaN,19 ИРЛ 2 ст,1,1919,9,*
3,Бальмонт К.Д.,NaN,NaN,19 ИРЛ 2 ст,1,1919,9,*
4,Брюсов В.Я.,NaN,NaN,19 ИРЛ 2 ст,1,1919,9,*
...,...,...,...,...,...,...,...,...
10301,Шиллер Ф.,Разбойники,NaN,91 ПСОУЗ,50,1991,9,NaN
10302,Эсхил,Прометей прикованный,NaN,91 ПСОУЗ,50,1991,9,NaN
10303,Достоевский Ф.М.,Преступление и наказание,NaN,91 ПСОУЗ,50,1991,10,NaN
10304,Куприн А.И.,Гранатовый браслет,NaN,91 ПСОУЗ,50,1991,11,*
10305,Некрасов Н.А.,Коробейники,NaN,91 ПСОУЗ,50,1991,10,*

1938 и 1939 гг. 
1962 и 1963 гг.   
1966 и 1967 гг.
1967 и 1972 гг.

In [13]:
df.duplicated().sum()

11

In [14]:
df.shape

(10306, 8)

In [16]:
df.drop_duplicates(inplace = True)

In [17]:
df.shape

(10295, 8)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10295 entries, 0 to 10305
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   author      10034 non-null  object
 1   title       8752 non-null   object
 2   comment     443 non-null    object
 3   curriculum  10295 non-null  object
 4   id          10295 non-null  int64
 5   year        10295 non-null  object
 6   grade       10295 non-null  int64
 7   priority    5658 non-null   object
dtypes: int64(2), object(6)
memory usage: 723.9+ KB

In [28]:
years = ['1937-38', '1939', '1962', '1963', '1966', '1967', '1967', '1972']
df[df['year'].isin(years)].shape[0]/df.shape[0]

0.09305488101019913

In [24]:
df['year'].value_counts()

year
1991       519
1940       376
1939       375
1933       341
1982       282
1984       282
1983       281
1988       278
1987       278
1986       278
1985       278
1949       276
1950       273
1980       269
1981       265
1979       265
1975       264
1974       264
1978       264
1977       264
1976       264
1951       263
1941       263
1942       231
1934       214
1946       204
1948       200
1922       191
1973       188
1972       187
1944       187
1947       185
1919       160
1932       122
1964       116
1956       114
1963       113
1954       109
1965       107
1938       107
1966       104
1960       103
1959       103
1958       103
1957       103
1961       103
1967       102
1962        65
1937-38     12
Name: count, dtype: int64

удаленный датасет - df_del (10% удалено примерно)  
df - все годы

In [29]:
df_del = df.drop(df[df['year'].isin(years)].index)
df_del.year.value_counts()

year
1991    519
1940    376
1933    341
1984    282
1982    282
1983    281
1986    278
1985    278
1987    278
1988    278
1949    276
1950    273
1980    269
1981    265
1979    265
1974    264
1975    264
1976    264
1977    264
1978    264
1941    263
1951    263
1942    231
1934    214
1946    204
1948    200
1922    191
1973    188
1944    187
1947    185
1919    160
1932    122
1964    116
1956    114
1954    109
1965    107
1938    107
1961    103
1959    103
1958    103
1957    103
1960    103
Name: count, dtype: int64

In [30]:
df_del.shape

(9337, 8)

In [31]:
df['year'] = df['year'].apply(lambda x: 1937 if x == '1937-38' else x)

In [32]:
df_del.year.value_counts()

year
1991    519
1940    376
1933    341
1984    282
1982    282
1983    281
1986    278
1985    278
1987    278
1988    278
1949    276
1950    273
1980    269
1981    265
1979    265
1974    264
1975    264
1976    264
1977    264
1978    264
1941    263
1951    263
1942    231
1934    214
1946    204
1948    200
1922    191
1973    188
1944    187
1947    185
1919    160
1932    122
1964    116
1956    114
1954    109
1965    107
1938    107
1961    103
1959    103
1958    103
1957    103
1960    103
Name: count, dtype: int64

In [33]:
import datetime as dt
df_del['year'] = pd.to_datetime(df_del['year'], format='%Y').dt.year
df['year'] = pd.to_datetime(df['year'], format='%Y').dt.year

In [35]:
df_del.to_csv('del_s4.csv')
df.to_csv('s4.csv')

In [6]:
df = pd.read_csv('s4.csv')

In [36]:
df

,author,title,comment,curriculum,id,year,grade,priority
0,Андреев Л.Н.,Жили-были,NaN,19 ИРЛ 2 ст,1,1919,9,NaN
1,Андреев Л.Н.,Иуда,NaN,19 ИРЛ 2 ст,1,1919,9,NaN
2,Андреев Л.Н.,Рассказ о семи повешенных,NaN,19 ИРЛ 2 ст,1,1919,9,*
3,Бальмонт К.Д.,NaN,NaN,19 ИРЛ 2 ст,1,1919,9,*
4,Брюсов В.Я.,NaN,NaN,19 ИРЛ 2 ст,1,1919,9,*
...,...,...,...,...,...,...,...,...
10301,Шиллер Ф.,Разбойники,NaN,91 ПСОУЗ,50,1991,9,NaN
10302,Эсхил,Прометей прикованный,NaN,91 ПСОУЗ,50,1991,9,NaN
10303,Достоевский Ф.М.,Преступление и наказание,NaN,91 ПСОУЗ,50,1991,10,NaN
10304,Куприн А.И.,Гранатовый браслет,NaN,91 ПСОУЗ,50,1991,11,*
10305,Некрасов Н.А.,Коробейники,NaN,91 ПСОУЗ,50,1991,10,*